<h1>My Trip</h1>
<p><h3>Origin:</h3> <%=@trip.origin.address%></p>
<p><h3>Destination:</h3> <%=@trip.destination.address %></p>

<h3>NYC Taxi:</h3>
<p>Cost: <%= @cost %></p>
<p>Time: <%= @time %></p>


<h3>Uber X:</h3>
<p>Duration:  <%= @uber_ride["duration"] %></p>
<p>Estimated Cost: <%= @uber_ride["estimate"] %></p>

<h3>Lyft:</h3>
<p>Cost Estimate: <%= @lyft_cost %></p>
<p>Time Estimate: <%= @lyft_time %></p>




<%= link_to 'New Search', root_path %>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= line_chart HistoricalTrip.group_by_hour_of_day(:tpep_pickup_datetime).count %>