<div class ='trip_show'> 
  <div class='row display'>
      <div class='row'>
        <div class='col-md-4'>
          <p></p>
        </div>
        <div class='col-md-4'>
          <p></p>
        </div>
        <div class='col-md-4'>
          <h3>My Trip</h3>     
          <p>Origin: <%=@trip.origin.address%></p>     
          <p>Destination: <%=@trip.destination.address %></p>
        </div>
      </div>
  </div>
  <div class='row display'>
    <div class='col-md-4'>
      <h3>NYC Taxi:</h3>
      <%= @message %>
      <p>Cost: $<%= @cost %></p>
      <p>Time: <%= @time %> minutes</p>
    </div>

    <div class='col-md-4'>
      <h3>Uber X:</h3>
      <p>Estimated Cost: <%= @uber_ride["estimate"] %></p>
      <p>Estimated Time:  <%= @uber_ride["duration"] %> minutes</p>
    </div>

    <div class='col-md-4'>
      <h3>Lyft:</h3>
      <p>Estimated Cost: $<%= @lyft.cost %></p>
      <p>Estimated Time: <%= @lyft.time %> minutes</p>
    </div>
  </div>
  <div class='row display'>
    <center><p>
      <%= link_to "Taxi Data", taxi_data_path %>
      <%= link_to "The fare is too damn high!", subway_path %>
      <%= link_to 'New Search', root_path %>
    </p></center>
  </div>
</div>
