<div class ='trip_show'> 
  <div class= 'row centered_text'>
    <h2>MY TRIP</h2>
  </div>

<%# TRIP ADDRESS ROW %>
  <div class='row'>
    <div class='banner'>
      <h4>Origin: <%=@trip.origin.address%></h4>
      <h4>Destination: <%=@trip.destination.address %></h4>
    </div>
  </div>
  <div>
    <br>
  </div>

<%# COST COMPARE ROW %>
  <div class='row'>
    <div class='col-md-4 display first'>
      <h3>NYC Taxi:</h3>
      <p>Estimated Cost: $<%= @cost %></p>
      <p>Estimated Time: <%= @time %> minutes</p>
    </div>
    <div class='col-md-4 display'>
      <h3>Uber X:</h3>
      <p>Estimated Cost: <%= @uber_ride["estimate"] %></p>
      <p>Estimated Time:  <%= @uber_ride["duration"] %> minutes</p>
    </div>
    <div class='col-md-4 display'>
      <h3>Lyft:</h3>
      <p>Estimated Cost: $<%= @lyft.cost %></p>
      <p>Estimated Time: <%= @lyft.time %> minutes</p>
    </div>
  </div>

  <div>
    <br>
  </div>

<%# NEW SEARCH LINK ROW %>
  <div class='row'>
    <div class='centered_text'>
      <a href="<%= root_path %>" class="btn btn-primary btn-lg">New Search</a>
    </div>
  </div>

  <div>
    <br>
  </div>

<%# DATA LINKS ROW %>
  <div>   
    <div class='col-md-4 centered_text'>
      <a href="<%= taxi_data_path %>" class="btn btn-primary btn-lg">Taxi Data</a>  
    </div>
    <div class='col-md-4'></div>
    <div class='col-md-4 centered_text'>
      <a href="<%= subway_path %>" class="btn btn-primary btn-lg">Subway Info</a>  
    </div>
  </div>

</div>

