

<h1>Wheels</h1>
<h3>Hello, Dave</h3>


<%= form_tag(new_user_trip_path, method: :post) do %>
  <%=label_tag("Starting Address")%>
  <%= text_field_tag(:address1)%><br><br> 
  <%=label_tag("Dropoff Address")%>
  <%= text_field_tag(:address2)%><br><br>
  <%= submit_tag("Search") %>
<% end %> 
