<div class='welcome_background'>
 
<div class='row'>
  <div class='col-md-4 content'>
    <% if current_user %>
      <h4 class='user_name'><%= "Welcome, #{current_user.name}" %></h4>
    <% end %>
  </div>
  <div class='col-md-4'></div>
  <div class='col-md-4 form-group'>
  
    <h2>Welcome to Wheels</h2>
    <%= form_tag(user_trips_path, method: :post) do %>
      <%= label_tag("Starting Address")%>
      <%= text_field_tag(:address1)%><br><br> 
      <%= label_tag("Dropoff Address")%>
      <%= text_field_tag(:address2)%><br><br>
      <%= label_tag("Favorite Trips")%><br><br>
      <% if @favorite_trips %>
        <%= select_tag(:trip, options_for_select(@favorite_trips), prompt: "Or pick a trip you've made before", include_blank: true)%><br><br>
      <% end %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div> 
</div>

