

<h1>Welcome to TaxiFares.com!</h1>


<%= form_tag(user_trips_path, method: :post) do %>
  <%=label_tag("Starting Address")%>
  <%= text_field_tag(:address1)%><br><br> 
  <%=label_tag("Dropoff Address")%>
  <%= text_field_tag(:address2)%><br><br>
  <%= submit_tag("Search") %>
<% end %> 
