<div id='nite_taxi'>
 
<div class='row'>
  <div class='col-md-4'></div>
  <div class='col-md-4'></div>
  <div class='col-md-4'>
    <h2>Welcome to Wheels</h2>
    <%= form_tag(user_trips_path, method: :post) do %>
      <%=label_tag("Starting Address")%>
      <%= text_field_tag(:address1)%><br><br> 
      <%=label_tag("Dropoff Address")%>
      <%= text_field_tag(:address2)%><br><br>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div> 
</div>

