<div class ='trip_show'> 
  <br>
  <div class= 'row centered_text'>
    <h2>MY TRIPS</h2>
  </div>
  <br>
  <br>
  <div class='row'>
    <div class='centered_text'>
      <a href="<%= root_path %>" class="btn btn-primary btn-lg">New Search</a>
    </div>
  </div>
<br>
<br>
  <div class='row'>
    <div class='col-md-4 display_no_opacity'>
      
    </div>
    <div class='col-md-4 display'>
      <ul>
        <% @trips.each do |trip| %>
          <p>
            Origin: <%= trip.origin.address%><br>
            Destination: <%= trip.destination.address %>
            <div class="row">
              <%= link_to "Delete", trip, :method => :delete %> | 
              <%= link_to "View Trip", user_trip_path(trip) %>
            </div>
          </p>

        <% end %>
      </ul>
    </div>
    <div class='col-md-4 display_no_opacity centered_vertical'>
     
    </div>
  </div>

</div>