<!DOCTYPE html>
<html>
<head>
  <title>Nyctaxi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <% if current_user %>
    <%= "Welcome, #{current_user.name}" %>
  <% end %>
 
<%= yield %>

</body>
</html>
